.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginRight {
  background-color: #124dcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.loginBox {
  width: 50vh;
}

.loginBoxTop {
  margin-bottom: 10px;
  font-size: 30px;
  color: white;
}

.loginBoxTop {
  align-items: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #ee7417;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #ee7417;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #124dcd;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #293ce8;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.boxRight {
  display: flex;
  align-items: center;
  flex-direction: column;

}